* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
.header {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}
.links {
    display: flex;
    width: 800px;
    justify-content: space-between;
}
.subheader {
    padding-left: 200px;
    padding-right: 200px;
    height: 300px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subheader-left {
    background-color: red;
    height: 100px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.subheader-right {
    background-color: green;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.body-one {
    background-color: yellow;
    padding-left: 400px;
    padding-right: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.body-one-up {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-one-down {
    background-color: green;
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: space-between;
}
.box {
    border-radius: 25px;
    height: 100px;
    width: 100%;
    background-color: white;
    border: solid black;
}
.bod {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}
