body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: rgb(42, 42, 59);
    display: flex;
    justify-content: space-around;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: small;
    display: flex;
    flex: 1;
    justify-content: center;
}
.link {
    display: flex;
    font-size: smaller;
    color: lightgray;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}
.subheader{
    background-color: rgb(42, 42, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.leftsubheader {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 700px;
    justify-content: flex-start;
}
.exclamation {
    font-size: 44px;
    font-weight: bold;
    color: white;
}
.subtext {
    font-size: small;
    font-weight: 100;
    color: lightgray;
}
.signup {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: rgb(66, 137, 230);
    width: 100px;
}
.rightsubheader {
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 700px;
    background-color: gray;
    color: white;
    justify-content: center;
    align-items: center;
}
.content-container {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.illustrations {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.random {
    margin-bottom: 20px;
}
#image {
    background-color: white;
    border: solid rgb(66, 137, 230);
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

p {
    font-size: small;
}