body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: rgb(42, 42, 59);
    display: flex;
    justify-content: space-around;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: small;
    display: flex;
    flex: 1;
    justify-content: center;
}
.link {
    display: flex;
    font-size: smaller;
    color: lightgray;
    flex: 1;
    justify-content: space-evenly;
}

