* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}
.links {
    display: flex;
    width: 800px;
    justify-content: space-between;
    font-size: 18px;
    color: #e5e7eb;
}
.subheader {
    padding-left: 200px;
    padding-right: 200px;
    height: 500px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subheader-left {
    background-color: #1f2937;
    height: 100px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.sub-head-one {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.sub-head-two {
    font-size: 18px;
    color: #e5e7eb;
}
.sub-head-three {
    background-color: #3882F6;
    color: white;
    display: flex;
    width: 150px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.subheader-right {
    background-color: gray;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 18px;
    color: #e5e7eb;
}
.body-one {
    background-color: white;
    padding-left: 400px;
    padding-right: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.body-one-up {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-one-down {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: space-between;
}
.box {
    border-radius: 25px;
    height: 100px;
    width: 100%;
    background-color: white;
    border: solid black;
}
.bod {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-two {
    background-color: #e5e7eb;
    padding-left: 400px;
    padding-right: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-two-down {
    display: flex;
    justify-content: right;
}
.body-three {
    padding-left: 300px;
    padding-right: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-three-right-signup {
    background-color:#3882F6;
    color: white;
    display: flex;
    width: 150px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
}
.body-three-container {
    background-color: #3882F6;
    width: 1700px;
    height: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}.footer {
    background-color: ;
    display: flex;
    justify-content: center;
}